.app {
    height: 100vh;
    display: flex;
    flex-direction: column;

    header {
        box-shadow: 0 2px 10px rgba(86, 112, 139, .1);
        background: #fff;

        .docs__container {
            padding: 24px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 90%;
            margin: auto;
        }

        .docs__logo {
            display: flex;
            align-items: center;

            img {
                width: 40px;
            }
        }

        li {
            float: left;
            margin: 0px 16px;
        }
    }

    .container {
        flex: 1;
        display: flex;
        width: 90%;
        margin: 30px auto;
        border-radius: 4px;
        background: #fff;


        .side-nav {
            width: 25%;
            padding: 0px 16px;
            border-right: 1px solid #ccc;

            li {
                line-height: 36px;
            }

            .group-name {
                font-size: 13px;
                /* color: ; */
                line-height: 40px;
            }

            .com-group {
                padding: 0px 12px;

                li {
                    margin: 0px 16px;
                }
            }

            .com-group-name {
                color: #ccc;
                font-size: 12px;

            }
        }

        .content {
            padding: 20px;
        }
    }


}
