.app  {
    height: 100vh;
    display: flex;
    flex-direction: column;
    header {
        display: flex;
        padding: 36px;
        justify-content: space-between;

        li {
            float: left;
            margin: 0px 16px;
        }
    }

    .container {
        flex: 1;
        display: flex;


        .side-nav {
            width: 25%;
            padding: 0px 16px;
            border-right: 1px solid #ccc;

            li {
                line-height: 36px;
            }

            .group-name {
                font-size: 13px;
                /* color: ; */
                line-height: 40px;
            }

            .com-group {
                padding: 0px 12px;
                li {
                    margin: 0px 16px;
                }
            }
        
            .com-group-name {
                color: #ccc;
                font-size: 12px;
                
            }
        }

        .content {
            padding: 20px;
        }
    }

    
}


