.introduce-wrap {
    padding: 8% 0 0px 15%;
    height: 100%;
    box-sizing: border-box;

    h2, h3, p {
        background: center  no-repeat url('../images/font.jpg');
        background-clip: text;
        background-size: cover;
        color: transparent;
    }

    h3 {
        margin-bottom: 40px;
    }

    p {
        font-size: 16px;
        line-height: 32px;
    }

    button {
        margin-top: 30px;
        margin-right: 12px;
        width: 100px;
        text-align: center;
        line-height: 30px;
        border-radius: 4px;
        background: #7d1515;
        color: #ccc;
        border-color: transparent;

        &:hover {
            color: #fff;
            cursor: pointer;
            text-shadow: 2px -1px 2.5px pink;
        }
    }
}